body {
  background-color:#D3D3D3;
}

h1 {
  text-align: center; 
  font-size:2.5em; 
  font-family:'Gaudy Old Style' 'Times New Roman' serif; 
  font-variant:small-caps;
  border-style:solid;
  border-color:#3CB371;
  border-width:2px;
  border-radius:50px;
}

h2{
  text-align:center;
  font-family:'papyrus';
  font-size:1.3em;
}

.pointheads {
  font-size:1.3em;
  font-family:'Gaudy Old Style' 'Times New Roman' serif;
  font-weight:bold;
}

th {
  color:#3CB371;
}